*{
 
    margin: 0;
 
    padding: 0;
 
}
 
 
 
.content{
 
    width: 100%;
 
    height: 100%;
 
    position: absolute;
 
    background-color: gray;
 
}
 
 
 
.cont{
 
    width: 100%;
 
    height: 80%;
 
    background-size:cover ;
 
    background-repeat: no-repeat;
 
    position: relative;
 
}
 
 
 
.cont .logo{
 
    width: 300px;
 
    height: 200px;
 
    position: absolute;
 
    left:50%;
 
    top: 15%;
 
}
 
 
 
.cont .logo span{
 
    display: block;
 
    color:white;
 
 
    text-align: center;
 
}
 
 
 
.cont .logo .title{
 
    font-size:80px;
 
}
 
 
 
.cont .logo .describe{
 
    font-size: 40px;
 
}
 
 
 
.cont .left{
 
    width: 50%;
 
    height: 100%;
 
    position: absolute;
 
}
 
 
 
.cont .right{
 
    width: 50%;
 
    height: 100%;
 
    position: absolute;
 
    right: 0;
 
}
 
.cont .rightCell{
 
    width: 300px;
 
    height: 400px;
 
    position: absolute;
 
    left: 30%;
 
    top: 10%;
 
}
 
 
 
.cont .right ul{
 
    list-style: none;
 
}
 
 
 
.cont .right span{
 
    color: #030404;
 
    font-size: 18px;
 
}
 
 
 
.cont .right .loginTiTle{
 
    font-weight: bolder;
 
    font-size: 30px;
 
    line-height: 60px;
 
}
 
 
 
.cont .right ul li {
 
    margin-top: 15px;
 
}
 
 
 
.cont .right .input{
 
    border: 0;
 
    background-color: transparent;
 
    outline: none;
 
    line-height: 25px;
 
}
 
 
 
.cont .right .inputLi{
 
    line-height: 45px;
 
    background-color: #fff3cd;
 
    border-radius: 5px;
 
}
 
 
 
.cont .right .btnLi{
 
    width: 100%;
 
    line-height: 45px;
 
    background-color: #1a1402;
 
    border-radius: 8px;
 
    color: #efaf06;
 
    font-size: 20px;
 
    font-weight: bolder;
 
    letter-spacing: 10px;
 
    text-align: center;
 
}
 
 
 
.cont .right .login div{
 
    display: inline-block;
 
    width: 30px;
 
    height: 30px;
 
    vertical-align: middle;
 
    background-position: -3px -5px;
 
}
 
 
 
 
.footer{
 
    width: 100%;
 
    height: 20%;
 
    background-color: white;
 
    overflow: hidden;
 
    position: relative;
 
}
 
 
 
.footer p{
 
    margin: 4% 10%;
 
}
 
 
 
.footer .right{
 
    position: absolute;
 
    right: 2%;
 
    top: 30%;
 
}
 
footer .right img{
 
    vertical-align: middle;
 
}